<!-- <div *ngIf="mobile" class="container mob-table">
    <div class="header">
        <h2 class="table-title">manage mobile</h2>
        <button class="btn add">add mobile</button>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>mobile</th>
            <th>price(Rs)</th>
            <th>RAM</th>
            <th>storage</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr *ngFor=" let mob of mobile">
         <td>{{mob['name']}} </td>
         <td>{{mob['price']}} </td>
         <td>{{mob['ram']}} </td>
         <td>{{mob['storage']}} </td>
         <td>
            <button class="btn btn-primary ">edit</button>
         </td>
         <td>
            <button class="btn btn-danger ">delete</button>
         </td>
        </tr>

    </tbody>

</table>
</div> -->
